@import url('https://fonts.googleapis.com/css?family=Josefin Sans');

#app-reviews {
  margin-top: 30px;
  margin-right: 450px;
  margin-left: 210px;
  width: 570px;
}
#menu {
 margin-top: 100px;
 margin-left: 210px;
}

#app-overview {
  width: 608px;
}

#reservation {
    width: 350px;
    position:fixed;
    margin-top: 166px;
    margin-right: 210px;
    top:0;
    right:0;
}

.image_1swebtw-o_O-imageLoaded_zgbg08 {
  height: 350px;
  width: 600px;
}
