@import url('https://fonts.googleapis.com/css?family=Josefin Sans');

#app-reviews {
  margin-left: 220px;
 	max-width: 608px;
 	margin-top: 50px;
}
#menu {
 margin-top: 50px;
 margin-left: 220px;
}

#app-overview {
  width: 608px;
  margin-left: 220px;
}

#reservation {
    width: 350px;
    position:fixed;
    margin-top: 180px;
    margin-right: 210px;
    top:0;
    right:0;
}

.image_1swebtw-o_O-imageLoaded_zgbg08 {
  height: 350px;
  width: 600px;
}
